#Ignore env

.env
.env.local
.forex_venv
forex_venv


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# OS junk files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Ignore raw data and logs
data/
trade_logs/
*.csv
*.json

# Ignore generated charts / images
charts/
*.png
*.jpg
*.jpeg

# Ignore HTML reports and notebooks
*.html
*.ipynb
.ipynb_checkpoints/

# Misc temp/log files
*.log

charts/
data/
trade_logs/
*.csv
*.json
*.html
*.png
*.jpg
*.jpeg
*.ipynb
.ipynb_checkpoints/
*.log

